.container {
    padding: 50px 400px;
}

.center {
    text-align: center;
}

.title {
    margin-bottom: 60px;
}

.frequencyText {
    width: 80px;
}

.frequency {
    margin-top: 30px;
    width: 400px;
}

.podcastBox {
    margin-top: 25px;
    padding: 20px;
    background-color: #eee;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}